:root {
    --primary: rgb(195, 3, 212);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    padding: 30px 15px 15px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.high-score {
    color: var(--primary);
    text-decoration: none;
    font-size: 2vw;
    border-radius: 3px;
}

.high-score:hover {
    background-image: linear-gradient(to bottom right, #f700ff70, rgba(252, 255, 49, 0.568));
}

.question-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 50%;
    margin: 200px auto;
}

.question-container button {
    align-self: center;
    font-size: 1.8vw;
    background-color: rgb(103, 52, 155);
    color: #ffffff;
    border-radius: 8px;
    padding: 4px;
}

.quest-main {
    font-size: 2vw;
    padding-bottom: 20px;
}

.quiz-question-li {
    list-style: none;
    padding: 4px;
    margin: 3px;
    background-color: rgb(103, 52, 155);
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.7vw;
}

#quiz-list {
    width: fit-content;
}

